#cabecera{
    width: 80%;
    text-align: center;
    color: blue;
    margin: 0 auto;
    background-color: rgb(105, 247, 247);
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rebeccapurple;
}